ModernLogisticWeb/src/main/java/com/rosteach/xml/ordersp/ordersp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ORDRSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="NUMBER"/>
        <xs:element type="xs:date" name="DATE"/>
        <xs:element type="xs:string" name="TIME"/>
        <xs:element type="xs:short" name="ORDERNUMBER"/>
        <xs:element type="xs:date" name="ORDERDATE"/>
        <xs:element type="xs:date" name="DELIVERYDATE"/>
        <xs:element type="xs:string" name="DELIVERYTIME"/>
        <xs:element type="xs:byte" name="ACTION"/>
        <xs:element type="xs:byte" name="CAMPAIGNNUMBER"/>
        <xs:element name="HEAD">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="BUYER"/>
              <xs:element type="xs:long" name="SUPPLIER"/>
              <xs:element type="xs:long" name="DELIVERYPLACE"/>
              <xs:element type="xs:long" name="INVOICEPARTNER"/>
              <xs:element type="xs:long" name="SENDER"/>
              <xs:element type="xs:long" name="RECIPIENT"/>
              <xs:element type="xs:short" name="EDIINTERCHANGEID"/>
              <xs:element name="POSITION">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="POSITIONNUMBER"/>
                    <xs:element type="xs:long" name="PRODUCT"/>
                    <xs:element type="xs:short" name="PRODUCTIDBUYER"/>
                    <xs:element type="xs:string" name="DESCRIPTION"/>
                    <xs:element type="xs:float" name="PRICE"/>
                    <xs:element type="xs:byte" name="VAT"/>
                    <xs:element type="xs:byte" name="PRODUCTTYPE"/>
                    <xs:element type="xs:short" name="ORDEREDQUANTITY"/>
                    <xs:element type="xs:short" name="ACCEPTEDQUANTITY"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>