ModernLogisticWeb/src/main/java/com/rosteach/xml/lktrans/lktrans.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ORDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="DOCUMENTNAME"/>
        <xs:element type="xs:string" name="NUMBER"/>
        <xs:element type="xs:date" name="DATE"/>
        <xs:element type="xs:date" name="DELIVERYDATE"/>
        <xs:element type="xs:short" name="CAMPAIGNNUMBER"/>
        <xs:element type="xs:string" name="CURRENCY"/>
        <xs:element name="HEAD">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="SUPPLIER"/>
              <xs:element type="xs:long" name="BUYER"/>
              <xs:element type="xs:long" name="DELIVERYPLACE"/>
              <xs:element type="xs:long" name="SENDER"/>
              <xs:element type="xs:long" name="RECIPIENT"/>
              <xs:element type="xs:string" name="EDIINTERCHANGEID"/>
              <xs:element name="POSITION" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="POSITIONNUMBER"/>
                    <xs:element type="xs:long" name="PRODUCT"/>
                    <xs:element type="xs:short" name="PRODUCTIDSUPPLIER"/>
                    <xs:element type="xs:short" name="PRODUCTIDBUYER"/>
                    <xs:element type="xs:float" name="ORDEREDQUANTITY"/>
                    <xs:element type="xs:string" name="ORDERUNIT"/>
                    <xs:element type="xs:float" name="ORDERPRICE"/>
                    <xs:element type="xs:float" name="PRICEWITHVAT"/>
                    <xs:element type="xs:float" name="VAT"/>
                    <xs:element name="CHARACTERISTIC">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="DESCRIPTION"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>